.body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10%;
}




.ship {
  display: flex;
  width: 80%;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-left: 10%;
  margin: 5px;
}


.shipCard {
  display: flex;
  width: 200px;
  height: 125px;
  padding: 15px;
  margin: 30px;
  background-color: rgb(61,80,80);
  color: white;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  border-radius: 15%;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  padding: 5%;
}

a:hover {
  font-family: 'Fuzzy Bubbles', cursive;
}


header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 0%;
  width: 100vw;
  min-height: 60px;
  background-color: darkgray;
  font-size: 25px;
}